@media screen and (min-device-width:480px) {
  .container {
    width:50%;
    margin: 0 auto;
  }
  .main-image, .subtext {
    display:block;
    float: left;
    width:50%;
    box-sizing:border-box;
  }
  .main-image img {
    max-width:100%;
    overflow: hidden;
  }
  .main-image {
    padding-right:10px;
  }
}